<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href="fontawesome/css/all.min.css">
  <title>Fafiltec - Faculdade Filadélfia de Tecnologia</title>
</head>

<body>
  <div class="main">
    <div>
      <img src="logo.png" class="logoFafiltec">
      <div class="main-left-mobile">
        <h1 class="main-left-text">BACHARELADO EM <span class="span-bold">OPTOMETRIA</span></h1>
      </div>
      <img src="title.png" class="title">
      <div>
        <div class="boxes">
          <div class="box">
            <i class="fa-regular fa-calendar"></i>
            <div>Duração</div>
            <div>8 Semestres</div>
          </div>
          <div class="box">
            <i class="fa-solid fa-graduation-cap"></i>
            <div>Formaçao</div>
            <div>Bacharel</div>
          </div>
          <div class="box">
            <i class="fa-solid fa-chalkboard-user"></i>
            <div>Modalidade</div>
            <div>EAD</div>
          </div>
        </div>
      </div>
      <div class="button-orange">
        <a href="#form">Torne-se um bacharel em optometria!</a>
      </div>
    </div>
    <div class="main-left">
      <h1 class="main-left-text">BACHARELADO EM <span class="span-bold">OPTOMETRIA</span></h1>
      <img src="photo1.png" class="photo-main">
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="box2">
        <h1>POR QUE A <span class="span-bold">FAFILTEC?</span></h1>
      </div>
      <div class="box2">
        <i class="fa-solid fa-medal"></i>
        <p><span class="span-bold">Mais de 20 anos de experiencia</span> na educação profissionalizante na área da Saúde
          Visual</p>
      </div>
      <div class="box2">
        <i class="fa-solid fa-glasses"></i>
        <p><span class="span-bold">Aulas práticas todo semestre,</span> temos 12 polos espalhados por todo o Brasil
          próximo a você</p>
      </div>
    </div>
    <div class="row">
      <div class="box2">
        <i class="fa-solid fa-graduation-cap"></i>
        <p>Temos <span class="span-bold">amplo conhecimento e vivência</span> com a realidade do profissional
          optometrista como agente primário da visão</p>
      </div>
      <div class="box2">
        <i class="fa-solid fa-headset"></i>
        <p><span class="span-bold">Tutores disponíveis</span> ao longo de todo o curso para esclarecer dúvidas e
          auxiliar os alunos</p>
      </div>
      <div class="box2">
        <i class="fa-regular fa-clock"></i>
        <p><span class="span-bold">Liberdade total</span> de ajuste de horários e locais de aula na metodologia EAD</p>
      </div>
    </div>
    <div class="button-orange2">
      <a href="#form">Torne-se um bacharel em optometria!</a>
    </div>
  </div>




  <div class="info-container">
    <h1>SEU MAIOR</h1>
    <h1><span class="span-bold">INVESTIMENTO É VOCÊ</span></h1>
  </div>
  <div class="info-container-content">
    <div class="info-container-content-left">
      <h2>Mercado de trabalho </h2>
      <p>Em uma sociedade com aumento significativo de condições de baixa visão, cresce também demanda por profissionais
        capazes de realizar acuidade visual e prescrever compensação através de lentes corretoras quando necessário.
        Optometristas realizam um papel fundamental para a saúde visual com alta procura, podendo trabalhar em suas
        próprias clinicas com autonomia e independência financeira</p>
      <div class="button-orange3">
        <a href="#form">Garanta seu desconto!</a>
      </div>
    </div>
    <div class="info-container-content-right">
      <h1>MENSALIDADE COM BOLSA</h1>
      <p class="info-container-content-right-price">R$<span class="extra-bold">855</span>,00*</p>
      <p class="info-container-content-right-date">*PARA PAGAMENTOS ATÉ O DIA 10</p>
      <p class="info-container-content-right-monthly">MENSALIDADE INTEGRAL</p>
      <p class="info-container-content-right-monthly">R$1.400,00</p>
    </div>
  </div>

  <div class="info-container2">
    <h1>DIFERENCIAIS DA</h1>
    <h1><span class="span-bold">FAFILTEC</span></h1>
  </div>
  <div class="container2">
    <div class="row2">
      <div class="box3">
        <img src="photo2.png">
      </div>
      <div class="box3">
        <img src="photo3.png">
      </div>
      <div class="box3">
        <img src="photo4.png">
      </div>
    </div>
    <div class="row2">
      <div class="box3">
        <img src="photo5.png">
      </div>
      <div class="box3">
        <img src="photo6.png">
      </div>
      <div class="box3">
        <img src="photo7.png">
      </div>
    </div>
    <div class="button-orange2">
      <a href="#form">Torne-se um bacharel em optometria!</a>
    </div>
  </div>
  <div class="info-container">
    <h1>SOBRE O</h1>
    <h1><span class="span-bold">CURSO</span></h1>
  </div>

  <div class="container-info">
    <div class="column">
      <div class="box-info">
        <div class="blue-box-info">1º semestre</div>
        <li>Optometria I</li>
        <li>Prática Clínica Optométrica I</li>
        <li>Língua Portuguesa</li>
        <li>Matemática</li>
        <li>Biologia Celular e Histologia</li>
        <li>Informática Básica</li>
        <li>Desenvolvimento Ocular</li>
        <li>Fisica Aplicada</li>
        <li>Projeto de Extensão I</li>
      </div>
      <div class="box-info">
        <div class="blue-box-info">3º semestre</div>
        <li>Optometria III</li>
        <li>Prática Clinica Optométrica III</li>
        <li>Fisiologia Humana</li>
        <li>Morfofisiologia Ocular II</li>
        <li>Óptica Fisiológica</li>
        <li>Óptica Oftálmica</li>
        <li>Patologia Sistêmica e Visão</li>
        <li>Projeto de Extensão III</li>
      </div>
      <div class="box-info">
        <div class="blue-box-info">5º semestre</div>
        <li>Prática Integrada I</li>
        <li>Terapia Visual II</li>
        <li>Função Sensoriomotora II</li>
        <li>Patologia ocular II</li>
        <li>Lentes de Contato I</li>
        <li>Saúde Ocupacional Visual</li>
        <li>Optometria Pediátrica</li>
        <li>Práticas da Extensão V</li>
      </div>
      <div class="box-info">
        <div class="blue-box-info">7º semestre</div>
        <li>Trabalho de Conclusão de Curso I (Elaboração do Projeto) - TCC I</li>
        <li>Pratica Integrada III</li>
        <li>Cuidado Primário</li>
        <li>Exames Especiais II</li>
        <li>Envelhecimento e Baixa Visão II</li>
        <li>Percepção visual</li>
        <li>Projeto de Extensão VIII</li>
      </div>
    </div>
    <div class="column">
      <div class="box-info">
        <div class="blue-box-info">2º semestre</div>
        <li>Optometria II</li>
        <li>Prática Clinica Optométrica II</li>
        <li>Anatomia Humana</li>
        <li>Morfofisiologia Ocular I</li>
        <li>Bioquímica da Visão</li>
        <li>Metodologia Ciêntifica</li>
        <li>Óptica Geométrica</li>
        <li>Microbiologia Ocular</li>
        <li>Projeto de Extensão II</li>
      </div>
      <div class="box-info">
        <div class="blue-box-info">4º semestre</div>
        <li>Optometria IV</li>
        <li>Prática Clinica Optométrica IV</li>
        <li>Função Sensoriomotora I</li>
        <li>Neurofisiologia da visão</li>
        <li>Patologia ocular I</li>
        <li>Terapia Visual I</li>
        <li>Ética e Legislação</li>
        <li>Farmacologia Aplicada</li>
        <li>Práticas da Extensão IV</li>
      </div>
      <div class="box-info">
        <div class="blue-box-info">6º semestre</div>
        <li>Prática Integrada II</li>
        <li>Exames especiais I</li>
        <li>Saúde Pública e epidemiologia</li>
        <li>Envelhecimento e baixa Visão I</li>
        <li>Gerência em Saúde Visual</li>
        <li>Lentes de Contato II</li>
        <li>Práticas de Extensão VI</li>
      </div>
      <div class="box-info">
        <div class="blue-box-info">8º semestre</div>
        <li>Prática Profissional Orientada</li>
        <li>Caso clinico</li>
        <li>Prática Integrada IV</li>
        <li>Trabalho de Conclusão de Curso II (Finalização do Projeto) - TCC II</li>
        <li>Relações Étnico Raciais</li>
        <li>Educação Ambiental</li>
        <li>Direitos Humanos</li>
        <li>Projeto de Extensão VIII</li>
      </div>
      <div class="button-orange4">
        <a href="#form">Torne-se um bacharel em optometria!</a>
      </div>
    </div>
  </div>

  <div class="info-container3">
    <h1>PROCESSO SELETIVO</h1>
    <h1><span class="span-bold">GRATUITO E 100% ONLINE</span></h1>
    <img src="qrcode.png">
    <div class="button-orange5">
      <a href="#form">Torne-se um bacharel em optometria!</a>
    </div>
  </div>

  <div class="orange-area">
    <a class="orange-area-btn1" href="https://fafiltec.edu.br/editais-2024" target="_blank">Editais do processo
      seletivo</a>
    <a class="orange-area-btn2" href="https://fafiltec.edu.br/polos" target="_blank">Conheça nossos polos!</a>
  </div>

  <div class="form-subscribe">
    <div class="info-matriz2" id="form-anchor">
      <div>FAÇA SUA INSCRIÇÃO!</div>
    </div>
  </div>

  <div class="form-container">
    <form class="form-subscribe" id="form" action="/registry" method="post">
      <div style="display: flex; justify-content: space-between;">
        <!-- Inputs do lado esquerdo -->
        <div style="width: 48%;">
          <div class="form-group">
            <label for="name">Nome Completo</label>
            <input type="text" id="name" name="name" class="input-text" placeholder="Nome Completo" />
          </div>
          <div class="form-group">
            <label for="document">CPF</label>
            <input type="text" name="document" id="document" class="input-text" placeholder="CPF (apenas números)"
              pattern="\d*" maxlength="11" title="digite apenas números" onblur="cpfValidator()" required>
          </div>
          <div class="form-group">
            <label for="birthdate">Data de Nascimento</label>
            <input type="text" name="birthdate" id="birthdate" class="input-text" placeholder=" Data de Nascimento"
              pattern="\d{2}\/\d{2}\/\d{4}" title="Digite a data no formato dd/mm/aaaa" onkeyup="dateMask()"
              maxlength="10" required>
          </div>
          <div class="form-group">
            <label for="your_email">E-mail</label>
            <input type="text" name="your_email" id="your_email" class="input-text" pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}"
              placeholder="Seu melhor e-mail" title="Por favor, insira um e-mail válido" required>
          </div>
          <div class="form-group">
            <label for="mobile">Celular</label>
            <input type="text" name="mobile" id="mobile" class="input-text" pattern="\(\d{2}\)\d{5}\-\d{4}"
              placeholder="Celular" title="Digite o celular no formato (XX)XXXXX-XXXX" onkeyup="celMask()"
              maxlength="14" required>
          </div>
        </div>
        <!-- Inputs do lado direito -->
        <div style="width: 48%;">
          <div class="form-group">
            <label for="your_email">Nacionalidade</label>
            <select class="input-text" name="nacionality" id="nacionality" onChange='isForeign()' required>
              <option value="" disabled selected="selected">Nacionalidade</option>
              <option value="Brasileiro">Brasileiro</option>
              <option value="Estrangeiro">Estrangeiro</option>
            </select>
          </div>
          <div class="form-group">
            <label for="your_email">Senha</label>
            <input type="password" name="password" id="password" class="input-text" placeholder="Senha"
              onChange="onChange()" required>
          </div>
          <div class="form-group">
            <label for="nacionality">Confirme sua senha</label>
            <input type="password" name="confirm_password" id="confirm_password" class="input-text"
              placeholder="Confirme sua senha" onChange="onChange()" required>
          </div>
          <div class="form-group">
            <label for="password">Escolha seu polo</label>
            <select name="pole" id="pole" class="input-text" required>
              <option value="" disabled selected="selected">Escolha seu polo</option>
              <% locations.forEach(pole=> { %>
                <option value="<%=pole.alias %>" id="<%= pole.id %>">
                  <%= pole.alias %>
                </option>
                <% }) %>
            </select>
          </div>
          <div class="form-group">
            <label for="confirm_password">Escolha seu consultor</label>
            <select name="consultant" id="consultant" class="input-text" required>
              <option value="" disabled selected="selected">Escolha seu consultor</option>
              <option value="none">Não tive consultor</option>
              <% consultants.forEach(consultant=> { %>
                <option value="<%=consultant.id %>" id="<%= consultant.id %>">
                  <%= consultant.nome_social %>
                </option>
                <% }) %>
            </select>
          </div>
        </div>
      </div>
      <!-- Botão Inscreva-se -->
      <div class="form-checkbox">
        <label class="text-container">
          <input type="checkbox" name="checkbox" required>
          <span class="checkmark"></span>
          <p>Declaro que li o <a href="https://fafiltec.edu.br/wp-content/uploads/2023/11/Edital-no-1-2024.pdf"
              target="_blank">Edital 2024-01</a></p>
        </label>
      </div>
      <button type="submit" class="btn-inscrever">Inscreva-se</button>
    </form>
  </div>


  <div class="whats">
    <a href="https://wa.me/5547992407652?text=Ol%C3%A1%2C+tenho+interesse+no+curso+de+Bacharel+em+Optometria.+Gostaria+de+obter+mais+informa%C3%A7%C3%B5es%21" target="_blank">
      <img src="whatsapp.png" width="50px" alt="logo do whatsapp">
    </a>
  </div>


</body>

<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=feca56d0-a294-47ff-afac-c293d2facad8">
</script>

<script>
  function onChange() {
    const password = document.querySelector('input[name=password]');
    const confirm = document.querySelector('input[name=confirm_password]');
    if (confirm.value === password.value) {
      confirm.setCustomValidity('');
    } else {
      confirm.setCustomValidity('As senhas precisam ser iguais');
    }

  }
  function cpfValidator() {
    if (isForeign()) {
      cpfInput.setCustomValidity('');
      return
    }
    const cpfInput = document.querySelector('input[name=document]');
    const cpf = cpfInput.value;
    function isValidCpf(cpf) {
      cpf = cpf.replace(/\D/g, '');
      if (cpf.toString().length != 11 || /^(\d)\1{10}$/.test(cpf)) return false;
      var result = true;
      [9, 10].forEach(function (j) {
        var soma = 0, r;
        cpf.split(/(?=)/).splice(0, j).forEach(function (e, i) {
          soma += parseInt(e) * ((j + 2) - (i + 1));
        });
        r = soma % 11;
        r = (r < 2) ? 0 : 11 - r;
        if (r != cpf.substring(j, j + 1)) result = false;
      });
      return result;
    }
    if (isValidCpf(cpf)) {
      cpfInput.setCustomValidity('');
    } else {
      cpfInput.setCustomValidity('Insira um cpf válido');
    }
  }
  function isForeign() {
    const nacionalityInput = document.querySelector('select[name=nacionality]');
    if (nacionalityInput.value == "Estrangeiro") {
      const cpfInput = document.querySelector('input[name=document]');
      cpfInput.setCustomValidity('');
      return true;
    } else {
      return false;
    }
  }
  function dateMask() {
    const dateInput = document.querySelector('input[name=birthdate]');
    var date = dateInput.value;
    if (window.event.keyCode == 8) { // ignore backspace
    } else if (date.match(/^\d{2}$/) !== null) {
      dateInput.value = date + '/';
    } else if (date.match(/^\d{2}\/\d{2}$/) !== null) {
      dateInput.value = date + '/';
    }
  }
  function celMask() {
    const mobileInput = document.querySelector('input[name=mobile]');
    var mobile = mobileInput.value;
    if (window.event.keyCode == 8) { // ignore backspace
    } else if (mobile.match(/^\d{1}$/) !== null) {
      mobileInput.value = '(' + mobile;
    } else if (mobile.match(/^\(\d{2}$/) !== null) {
      mobileInput.value = mobile + ')';
    } else if (mobile.match(/^\(\d{2}\)\d{5}$/) !== null) {
      mobileInput.value = mobile + '-';
    }
  }

</script>


</html>